
.author-card {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color:black;
    text-align: center;
    overflow: hidden;
    border-radius:5px;
    position: relative;
  }
  
  .author-card .picture {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .author-card .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .author-card:hover .picture::before {
    height: 100%;
  }
  
  .author-card .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .author-card .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .author-card:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .author-card .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .author-card .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .author-card:hover .social {
    bottom: 0;
  }
  
  .author-card .social li {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .author-card .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .author-card .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }

  .sign{
    width: 400px;
  }

  @media screen and (max-width:600px) {
    .sign{
      width: 300px;
    }
    img{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
    }
  }